{% extends 'base.html' %}

{% block title %}Crear Perfil de Alumno{% endblock %}

{% block content %}
    <h1>Crear Perfil de Alumno</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="sexo" class="form-label">Sexo:</label>
            <input type="text" class="form-control" id="sexo" name="sexo" required>
        </div>
        <div class="mb-3">
            <label for="edad" class="form-label">Edad:</label>
            <input type="number" class="form-control" id="edad" name="edad" required>
        </div>
        <div class="mb-3">
            <label for="correo" class="form-label">Correo:</label>
            <input type="email" class="form-control" id="correo" name="correo" required>
        </div>
        <div class="mb-3">
            <label for="contraseña" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="contraseña" name="contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}
