{% extends 'Horario/base2.html' %}

{% block content %}
    <h1>Horas de atención</h1>

    <div class="row">
        <!-- <div class="col-md-6">
            <h2>Filtrar por Día</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDay" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar por Día
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDay">
                    <li><a class="dropdown-item" href=".">Mostrar todos</a></li>
                    {% for day in days %}
                        <li><a class="dropdown-item" href="?day={{ day.id }}">{{ day.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div> -->

        <div class="col-md-6">
            <h2>Filtrar por Categoría</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonCategoria" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtrar por Categoría
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonCategoria">
                    <li><a class="dropdown-item" href=".">Mostrar todos</a></li>
                    {% for categoria in categorias %}
                        <li><a class="dropdown-item" href="?categoria={{ categoria.id }}">{{ categoria.nombre }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <h2></h2>
    <ul class="list-group">
        {% for comunicado in comunicados %}
            <li class="list-group-item">
                <h5 class="mb-1">{{ forloop.counter }}. {{ comunicado.titulo }}</h5>
                <p class="mb-1">{{ comunicado.detalle  }}</p>
                <small>Correlativo: {{ comunicado.correlativo }} | Publicado por: {{ comunicado.publicado_por.username }} | Fecha: {{ comunicado.fecha_envio|date:"d/m/Y" }} | Hora: {{ comunicado.get_nivel_display }} | Día: {{ comunicado.dia.name }}</small>
            </li>
        {% empty %}
            <li class="list-group-item">No hay comunicados disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}
