<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a BuscaProfe</title>
</head>

<body>
    <a href="{% url 'home' %}" class="btn btn-primary">Inicio</a>
    <a href="{% url 'perfil' user.id %}" class="btn btn-primary">Perfil</a>
    <a href="{% url 'logout' %}" class="btn btn-primary">Cerrar sesión</a>
    <h1>Bienvenido a BuscaProfe</h1>
    <p>Estás logueado como {{ user.username }}</p>
    <!-- link a lista_profesor si no soy profesor-->
    {% if tipo_usuario == 'alumno' %}
        <a href="{% url 'lista_profesor' %}">Ver lista de profesores</a>
        <h2>Mis reservas</h2>
        <ul>
            {% for reservation in reservations %}
            <li><a href="{% url 'reservation_detail' reservation.id %}">{{ reservation.day }} {{ reservation.start_time }} - {{ reservation.end_time }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if tipo_usuario == 'profesor' %}
        <h2>Mis Horarios reservados</h2>
        <ul>
            {% for reservation in reservations %}
            <li><a href="{% url 'reservation_detail' reservation.id %}">{{ reservation.day }} {{ reservation.start_time }} - {{ reservation.end_time }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>