<!DOCTYPE html>
<html>
<head>
    <title>Lista de Profesores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Lista de Profesores</h1>
        <ul>
            {% for profesor in profesores %}
                <li><a href="{% url 'dias_profesor' profesor.id %}">{{ profesor.nombre }}</a> <a href="{% url 'perfil' profesor.id %}" class="btn btn-primary">Ver perfil</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'todas_reservas' %}">Ver todas las reservas</a>
    </div>
</body>
</html>
