<!DOCTYPE html>
<html>
<head>
    <title>Horarios de {{ profesor.nombre }} {{ profesor.apellido }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Horarios de {{ profesor.nombre }} {{ profesor.apellido }} - Semana del {{ formatted_start_of_week }}</h1>
        <a href="{% url 'lista_profesor' %}">Ver lista de profesores</a>
        <br>
        <div class="row">
            {% for day, horarios in horarios_by_day.items %}
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ day.name }}</h5>
                            
                            {% for horario in horarios %}
                                <div class="card mb-2 {% if horario.reserva %}bg-success{% endif %}">
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">{{ horario.titulo }}</h6>
                                        <p class="card-text">{{ horario.detalle }}</p>
                                        <small>Correlativo: {{ horario.correlativo }} | Publicado por: {{ horario.publicado_por.username }} | Fecha: {{ horario.fecha_envio|date:"d/m/Y" }} | Hora: {{ horario.get_nivel_display }}</small>
                                        <br>
                                        <a href="{% url 'reservar_evento' horario.correlativo %}" class="btn btn-primary">Reservar</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
